@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-size: 10px;
  padding-top: 56px;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 760px;
}

@media screen and (min-width: 728px){
  
}

.header {
  background: #fff;
  left: 0;
  top: 0;
  padding: 8px 16px;
  width: 100%;
  height: 56px;
  position: fixed;
  box-shadow: 0 1px 0 rgb(0, 0, 0, 0.1);
}

.header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name {
  display: inline-block;
  height: 40px;
}

.header__logo {
  height: 100%;
}

.header__message {
  display: flex;
  margin: 0;
  padding: 1px 6px;
}

.header__item {
  list-style: none;
  font-size: 20px;
  padding: 6px;
  border: none;
  background: transparent;
}

.header__link {
  color: #000;
  background-color: transparent;
}

.stories {
  width: 100%;
  height: 100%;
}

.stories .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0;
}

.stories__list {
  display: flex;
  margin: 0;
  padding: 0 6px;
}

.stories__list .stories__item {
  width: 78px;
  height: 78px;
  margin: 0 8px;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.stories__item {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
}

.stories__item--active {
  background: linear-gradient(
    45deg,
    rgba(245, 160, 77, 1) 0%,
    rgba(160, 15, 139, 1) 100%
  );
}

.stories__image {
  border-radius: 100%;
  border: 2px solid #fff;
  display: inline-block;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.post {
  width: 100%;
  padding: 16px;
}

.post .container {
  display: flex;
  flex-direction: column;
}

.post__card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.post__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.post__profile {
  display: flex;
  align-items: center;
}

.post__user-image {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  display: flex;
  border-radius: 100%;
  overflow: hidden;
}

.post__user-name {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

.post__options {
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

.post__figure {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
}

.post__image {
  width: 100%;
}

.post__controls {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}

.post__buttons {
  font-size: 24px;
  margin: 0 8px;
  background-color: transparent;
  border: none;
  outline: none;
}

.post__buttons--like {
  color: #ed4956;
}

.post__buttons:last-of-type {
  justify-self: flex-end;
  margin-left: auto;
}

.post__likes {
  width: 100%;
  padding: 8px;
  background: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.post__like-image {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: flex;
  border-radius: 100%;
  overflow: hidden;
}

.post__user-like {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
